<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Datos del cliente</title>
</head>

<body>
    <h1>Datos del cliente</h1>
    <table>
        <tr>
            <td>Nombre:</td>
            <td th:text="${cliente.nombre}"></td>
        </tr>
        <tr>
            <td>Apellido:</td>
            <td th:text="${cliente.apellido}"></td>
        </tr>
        <tr>
            <td>Domicilio:</td>
            <td th:text="${cliente.domicilio}"></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td th:text="${cliente.email}"></td>
        </tr>
        <tr>
            <td>Fecha de nacimiento:</td>
            <td th:text="${cliente.fechaNacimiento}"></td>
        </tr>
        <tr>
            <td>Número de pasaporte:</td>
            <td th:text="${cliente.numeroPasaporte}"></td>
        </tr>
    </table>

    <br />

    <h1>Filtros para elegir vuelo</h1>
    <form action="/resultado" method="get">

        <label hidden for="dni">Usuario: </label>
        <input name="dni" th:value="${cliente.dni}" hidden/>
        <br/>

        <label for="fecha">Fecha:</label>
        <select id="fecha" name="fecha" required>
            <option>Todos</option>
            <option th:each="filtro : ${filtroFechaSalida}" th:text="${filtro}"></option>
        </select>

        <label for="origen">Origen:</label>
        <select name="origen" id="origen" required>
            <option>Todos</option>
            <option th:each="filtro : ${filtroCiudadOrigen}" th:text="${filtro}"></option>
        </select>

        <label for="destino">Destion:</label>
        <select name="destino" id="destino" required>
            <option>Todos</option>
            <option th:each="filtro : ${filtroCiudadDestino}" th:text="${filtro}"></option>
        </select>

        <label for="vuelo">Tipo Vuelo:</label>
        <select name="vuelo" id="vuelo" required>
            <option>Todos</option>
            <option th:each="filtro : ${filtroTipoVuelo}" th:text="${filtro}"></option>
        </select>

        <button type="submit">Buscar</button>
    </form>


    </script>
</body>

</html>