<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Lista de vuelos</title>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script> <!-- Include jQuery -->
</head>

<body>

  <h1>Lista de vuelos</h1>

  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Numero Vuelo</th>
        <th>Tipo Vuelo</th>
        <th>Estado</th>
        <th>Asientos Libres</th>
        <!-- Otros encabezados de la tabla -->
      </tr>
    </thead>
    <tbody>
      <tr th:each="objeto : ${objetosFiltrados}">
        <td th:text="${objeto.fecha}"></td>
        <td th:text="${objeto.numeroVuelo}"></td>
        <td th:text="${objeto.tipoVuelo}"></td>
        <td th:text="${objeto.estado}"></td>
        <td th:text="${objeto.capacidad}"></td>
        <td>
          <a th:href="@{/vuelo/{id}(id=${objeto.id})}+ '?dni=' + ${dni}">Ver</a>
        </td>
        <!-- Otros datos del objeto -->
      </tr>
    </tbody>
  </table>

  <form action="#" th:action="@{/elegir-vuelo}" method="post">
    <label hidden for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" hidden th:value="${dni}">
    <button type="submit">Volver</button>
  </form>
  

</body>

</html>